Node-red.json
[{"id":"53432e5f.a6a51","type":"inject","z":"6fefe7e3.b50988","name":"webcam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"camerasource\":0, \"cameranumber\":1 }","payloadType":"json","x":180,"y":200,"wires":[["1ae4020b.b90ffe"]]},{"id":"1ae4020b.b90ffe","type":"http request","z":"6fefe7e3.b50988","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:33443/changecamera","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":260,"wires":[["53bc4b13.ac9714"]]},{"id":"53bc4b13.ac9714","type":"debug","z":"6fefe7e3.b50988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"f89b371a.0fb448","type":"inject","z":"6fefe7e3.b50988","name":"IPCAM","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"camerasource\": \"rstp://192.168.1.166:8080/h264_ulaw.sdp\",\"cameranumber\":1}","payloadType":"json","x":170,"y":260,"wires":[["1ae4020b.b90ffe"]]},{"id":"817db188.de0a","type":"http request","z":"6fefe7e3.b50988","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:33443/releasecameras","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":420,"wires":[["f6f9de9e.53ea1"]]},{"id":"93645c45.fedec","type":"http request","z":"6fefe7e3.b50988","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:33443/restartcameras","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":500,"wires":[["51b0a15.a5ba66"]]},{"id":"3c9db45d.cc03bc","type":"inject","z":"6fefe7e3.b50988","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"camerasource\": \"rtsp://freja.hiof.no:1935/rtplive/_definst_/hessdalen02.stream\"}","payloadType":"json","x":170,"y":420,"wires":[["817db188.de0a"]]},{"id":"5d97f10b.24bf3","type":"inject","z":"6fefe7e3.b50988","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"camerasource\": \"rtsp://freja.hiof.no:1935/rtplive/_definst_/hessdalen02.stream\"}","payloadType":"json","x":170,"y":500,"wires":[["93645c45.fedec"]]},{"id":"f6f9de9e.53ea1","type":"debug","z":"6fefe7e3.b50988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":420,"wires":[]},{"id":"51b0a15.a5ba66","type":"debug","z":"6fefe7e3.b50988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":500,"wires":[]},{"id":"74918df7.f48cb4","type":"http request","z":"6fefe7e3.b50988","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:33443/savesettings","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":580,"wires":[["d2285230.d18d5"]]},{"id":"bee86006.d1da4","type":"inject","z":"6fefe7e3.b50988","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"camerasource\": \"rtsp://freja.hiof.no:1935/rtplive/_definst_/hessdalen02.stream\"}","payloadType":"json","x":170,"y":580,"wires":[["74918df7.f48cb4"]]},{"id":"d2285230.d18d5","type":"debug","z":"6fefe7e3.b50988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":580,"wires":[]},{"id":"88506f9c.002a","type":"comment","z":"6fefe7e3.b50988","name":"CAMERA API","info":"","x":170,"y":100,"wires":[]},{"id":"817c189.aa463e8","type":"inject","z":"6fefe7e3.b50988","name":"IPCAM","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"camerasource\": \"rtsp://freja.hiof.no:1935/rtplive/_definst_/hessdalen02.stream\",\"cameranumber\":2}","payloadType":"json","x":170,"y":320,"wires":[["1ae4020b.b90ffe"]]},{"id":"68648731.1413d8","type":"http request","z":"6fefe7e3.b50988","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:33443/changemode","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":740,"wires":[["86f06959.248878"]]},{"id":"86f06959.248878","type":"debug","z":"6fefe7e3.b50988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":740,"wires":[]},{"id":"494093f8.0da19c","type":"inject","z":"6fefe7e3.b50988","name":"webcam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"cameramode\":1, \"cameranumber\":1 }","payloadType":"json","x":180,"y":740,"wires":[["68648731.1413d8"]]},{"id":"6677aa10.3d8084","type":"inject","z":"6fefe7e3.b50988","name":"webcam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"cameramode\":2, \"cameranumber\":1 }","payloadType":"json","x":180,"y":780,"wires":[["68648731.1413d8"]]},{"id":"aa1f50e4.3cd67","type":"inject","z":"6fefe7e3.b50988","name":"webcam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"cameramode\":1, \"cameranumber\":1 }","payloadType":"json","x":180,"y":700,"wires":[["68648731.1413d8"]]},{"id":"75b73acf.9c05e4","type":"inject","z":"6fefe7e3.b50988","name":"webcam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"cameramode\":3, \"cameranumber\":1 }","payloadType":"json","x":180,"y":820,"wires":[["68648731.1413d8"]]},{"id":"fb4cd3af.b4551","type":"comment","z":"6fefe7e3.b50988","name":"Set Source","info":"","x":160,"y":140,"wires":[]},{"id":"7a5d16c3.366048","type":"comment","z":"6fefe7e3.b50988","name":"Release Cameras","info":"","x":190,"y":380,"wires":[]},{"id":"fd3495b3.38cf18","type":"comment","z":"6fefe7e3.b50988","name":"Restart Cameras","info":"","x":180,"y":460,"wires":[]},{"id":"b612e178.297a7","type":"comment","z":"6fefe7e3.b50988","name":"Save Configuration","info":"","x":190,"y":540,"wires":[]},{"id":"6ee46441.f0885c","type":"comment","z":"6fefe7e3.b50988","name":"Mode Selection","info":"","x":180,"y":660,"wires":[]},{"id":"fed3e3fb.a02af","type":"inject","z":"6fefe7e3.b50988","name":"webcam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"cameramode\":0, \"cameranumber\":2 }","payloadType":"json","x":180,"y":880,"wires":[["68648731.1413d8"]]}]
